#post {
  background-color: white;
  border-radius: 1rem;
  margin: 0.3rem;
  padding: 0.6rem;
  border: solid rgba(159, 154, 149, 0.356);
}

#postHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#profileImg {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}

#AdvertiserName {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#advertiserDescription {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#publicationTime {
  font-size: small;
  font-family: Courier New;
}

#postText {
  font-family: Times New Roman;
}

#postFoter {
  display: flex;
  flex-direction: row;
}

#likeLogo {
  width: 2rem;
  height: 2rem;
}
